
.carousel{
    width: 80%;
    height: 450px !important;
    margin: 50px auto;
    box-shadow: 0 5px 20px grey;
}
.carousel_1{ 
    width: 80%;
    height: 454px !important;
    margin: 50px auto;
    box-shadow: 0 5px 20px black ;
    border: 2px solid lightblue;
    padding: 0px 0px;
}

.caption1{
    width: 50%;
    margin: 5px auto;
    padding: 0 0;
    border: 2px solid black;
    background-color: black;
}

.img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 0 0;
    padding: 0 0;
}


@media screen and (max-width: 768px){

    .carousel{
        width: 100%;
        height: 450px !important;
        margin: 40px auto;
        box-shadow: 0 5px 20px ;
    }
    .carousel_1{ 
        width: 100%;
        height: 455px !important;
        margin: 50px auto;
        box-shadow: 0 5px 20px black ;
        border: 2px solid lightblue;
        padding: 0px 0px;
    }
    

}