


.border{
    border: 4px solid black;
    box-shadow: 10px 10px 45px 2px grey;
    border-radius: 10px;
    
}
.border_1{
    border: 4px solid lightblue;
    box-shadow: 10px 10px 45px 2px black;
    border-radius: 10px;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 10px;
    margin: 50px;
}

.msg{
    color: green;
    text-align: center;
}

  .img-fluid {
    width: 100%;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px;   
}  

.img-fluid:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.item-card {
    cursor: pointer;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 10px 15px 25px 0px grey;
}
.item-card_1 {
    cursor: pointer;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 10px;
    box-shadow: 10px 15px 25px 0px black;
}




h3 {
    margin: 0 10px;
    font-size: 20px;
    color: grey;
}


.pricing {
    font-weight: 400;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 500;
}


.btn-cart {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: orange;
    width: 79%;
    margin: 20px 0px 5px 20px;
    outline: none;
    padding: 5px 0px;
    border-radius: 10px;
    gap: 0px;
    
}

.cart-add {
    
    background-color: orange;
    border: none;
    border-radius: 10px;
    outline: none;
    color: black;
    padding: 0 12px;
    font-size: 20px;
}

.cart-add:hover {
    color: white;
}

.cart-add:active {
    background-color: orange;
    border: none;
    outline: none;
    color: black;
}

.cart-addon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 0px 0px;
    padding-bottom: 10px;
}
.cart-addon button{
    background-color: orange;
    outline: none;
    border: 1px solid grey;
    padding: 0 15px;
    font-size: 15px;
}
.cart-addon button:active{
    outline: auto;
    
}