

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
}

.brand-logo {
    height: 5rem;
    mix-blend-mode: multiply;
    left: 0;
}



.nav2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  height: 44px;
  width: 380px;
  padding: 0 25px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.nav2 input{
    outline: none;
    border: none;
    
   
}
.nav2 button{
    margin: 0 0;
    padding: 0 0;
    background-color: transparent;
    color: gray;
    font-weight: bolder;
    opacity: 0.8;
    outline: none;
    border: none;
}




.btn-link {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}


#nav-mobile {
    display: flex;
    flex-direction: row;
    margin: 10px;
}


.btn {
    margin: 0;
    height: 45px;
    background-color: rgb(35, 32, 32);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: 1px solid black;
}

.btn:hover {
    background-color: rgb(35, 32, 32);
    color: white;
}

.btn:active {
    color: white;

    border: 2px solid white;

}

/* login */
.btn_login {
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 5px;
    font-size: 18px;
    width: 60px;
    height: 30px;
}

.btn_login:hover {
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
}

.btn_login:active {
    border: 1px solid white;
    outline: auto;

}

.btn_sign {
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 5px;
    font-size: 15px;
    width: 70px;
    height: 30px;
}

.btn_sign:hover {
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
}

.btn_sign:active {
    border: 1px solid white;
    outline: auto;

}

.close {
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 1px 10px;
    /* width: 30px; */
    /* height: 30px; */
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}
.close:hover{
    color: black;
}

 .modal_background {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;
  
    background-color: rgb(245, 245, 245);
    opacity: 0.9;
    z-index: 999;
    display: flex;
    justify-content: center;
}
.modal_background_1 {
  
    width: 100%;
    height: 100vh;
    
    background-color: black;
    opacity:1;
    display: grid;
    place-items: center;
} 

.form_login {
    width: 500px;
    height: auto;
    padding: 15px 20px;
    border: 2px solid white;
    font-weight: 500;
    margin-top: 0%;
    background-color: white;
    color: black;
    filter: drop-shadow(15px 15px 15px  gray);
   
}

.form_login input {
    width: auto;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    margin: 15px 0;
   
    text-align: center;
}
.form_login_1 input {
    width: auto;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    margin: 15px 0;
  
    text-align: center;
}
.form_login_1 {
    width: 500px;
    height: 430px;
    padding: 10px 15px;
    font-weight: 500;
    margin-top: 5%;
    background-color: black;
    color: white;
    filter: drop-shadow(15px 15px 15px black);   
}



.form_sign {
    width: 500px;
    height: auto;
    margin: 0px;
    padding: 0px 20px;
    border: 2px solid white;
   top: 15%;
    font-weight: 500;
    background-color: white;
    color: black;
    filter: drop-shadow(15px 15px 15px  gray);
    /* overflow-y: scroll ; */
}
.form_sign_1 {
   
    width: 500px;
    height: auto;
    margin: 0px;
    padding: 0px 20px;
    border: 2px solid white;
   top: 15%;
    font-weight: 500;
   
    background-color: black;
    color: white;
    filter: drop-shadow(15px 15px 15px black);
    /* overflow-y: scroll  ; */
}

.form_sign input {
    width: auto;
    height: 40px;
    font-size: 20px;
    margin: 15px 0;
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid lightblue;
    text-align: center;
}
.form_sign_1 input {
    width: auto;
    height: 40px;
    font-size: 20px;
    margin: 15px 0;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid lightblue;
    text-align: center;
}


.form_login h4 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_sign h4 {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ------------ cart ----------------- */

.cart_container{
    height: calc( 100vh - 300px);
    overflow-y: auto;
    
}


 .cart_container::-webkit-scrollbar {
    width: 5px;
    
  }
  
  /* Track */
 .cart_container::-webkit-scrollbar-track {
    background: black;

  }
  
  /* Handle */
.cart_container::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 5px;
  }
  
  /* Handle on hover */
.cart_container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



.checkout-modal{
   
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll,hidden  ;
   
}
.checkout-modal_list{
    /* height: 400px; */

    margin: 0 0;
}

.checkout-modal_list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    border-bottom: 1px solid rgb(148, 105, 105);
    padding: 50px 0;
    
   
}

.img-cart {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border: 2px solid grey;
}





.information h4 {
    font-size: 20px;
}


.checkout-modal_footer {
    border-top: 1px solid black;
   
}

.total_amount {
   /* border: 2px solid red; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    gap: 20px;
    /* position: sticky; */
    /* margin: 0.3rem 0.3rem; */
    padding: 1.5rem 0.8rem;


}


button {
    align-self: center;
    background-color: orange;
    color: white;
    border: unset;
    padding: 12px 24px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    color: black;
}

button:active {
    opacity: 0.85;
}

.cart-addon__modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
}



.empty-cart {
    display: flex;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    margin-top: 0%;
    color: gray;
    /* padding: 10px 0 48px; */
}


/* order */

.order{
    height: 74vh;
    width: 100%;
}
.order_background{
    /* position: relative; */
   
    display: flex;
    padding: 50px 0 0 00;
    justify-content: center;
 
    /* transition: .5s all ease-in-out; */

}


.order-container{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:transparent;
    
    border: 1px solid gray;
   
    padding: 5px 5px;
    transition: .5s all ease-in-out;
}
.order-container img{
    width: 300px;
}
.order-container button{
    margin-left: auto;
    /* margin-right: 10px; */
    height: fit-content;
}

.payment-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     transition: none !important;
    background-color: rgba(35, 40, 40, 0.216);
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.payment-modal-content{
    background-color:white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}

/* ---------responsive-------- */

@media (max-width:1020)  {
    .form_sign {
       top: 25%;  
        
    }
    .form_sign_1 {
       margin-top: 25%;
       height: 200px;
        
    }
    
}

@media (max-width:710px) {
    .link-login {
        margin-left: 28rem;
    }
}

@media (max-width:635px) {
    .link-login {
        margin-left: 25rem;
    }

    .order-container{
       
       
        padding: 0px 0px;
        transition: .5s all ease-in-out;
    }

    .order-container img{
        width: 220px;
    }

    .form_cart {
        position: absolute;
        width: 400px;
        height: 550px;
        padding: 20px 20px;
        border: 2px solid white;
        font-weight: 500;

        background-color: white;
        color: black;
        animation: slideMe .5s ease-in-out;
    }




    .information h4 {
        font-size: 15px;
    }

    .img-cart {
        width: 80px;
        height: 80px;
    }

    .cart-addon__modal {
        padding: 0 0;
    }

    .total_amount h4 {
        margin-right: 5.5rem;
        font-size: 12.7px;
    }

    .total_amount button {
        font-size: 13px;
        padding: 10px 10px;
    }

}

@media (max-width:588px) {
    .link-login {
        margin-left: 19rem;
    }
}

@media (max-width:518px) {
    .search {
        width: 400px;
    }


    .btn-link-login {
        justify-content: flex-end;
    }

    .link-login {
        margin-left: 16rem;
    }

    .form_login {
        width: 400px;
    }

    .form_sign {
        width: 400px;
    }
}

@media (max-width:444px) {
    .search {
        width: 300px;
    }

    .form_login {
        width: 300px;
    }

    .form_sign {
        width: 300px;
    }

    .link-login {
        margin-left: 14rem;
    }
    .checkout-modal_list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        border-bottom: 1px solid rgb(148, 105, 105);
        padding: 50px 20px;
        
       
    }

    .img-cart {
        width: 80px;
        height: 80px;
    }


}

@media (max-width:410px) {
    .search {
        width: 300px;
    }

    .form_cart {
        width: 300px;
    }

    

    .cart-addon__modal {
        font-size: 15px;
    }

    /* .cart-addon__modal button {
        padding: 4px 4px;
    } */

    

    .total_amount h4 {
        margin-right: 15px;
        font-size: 12.7px;
    }

    .total_amount button {
        font-size: 11px;
        padding: 10px 10px;
    }



    .link-login {
        margin-left: 12rem;
    }
}

@media (max-width:380px) {
    .search {
        width: 300px;
    }

    .link-login {
        margin-left: 10rem;
    }
}

@media (max-width:346px) {
    .search {
        width: 230px;
    }

    .link-login {
        margin-left: 9rem;
    }
}

@media (max-width:330px) {
    .search {
        width: 230px;
    }

    .link-login {
        margin-left: 8rem;
    }
    .total_amount button {
        font-size: 10px;
        padding: 8px 8px;
    }
}

@media (max-width:314px) {
    .search {
        width: 230px;
    }

    .form_login {
        width: 250px;
    }

    .form_sign {
        width: 250px;
    }

    .form_cart {
        width: 250px;
    }

   




    .img-cart {
        width: 80px;
        height: 80px;
    }

    .total_amount h4 {
        margin-right: 6px;
        font-size: 10.7px;
    }

    

    .link-login {
        margin-left: 6.5rem;
    }
}

@media (max-width:300px) {
    .search {
        width: 220px;
    }

    .nav1 a {
        font-size: 19px;
    }

    .link-login {
        margin-left: 6rem;
    }


}


@media (max-width:282px) {
    .search {
        width: 220px;
    }

    .nav1 a {
        font-size: 17px;
    }

    .link-login {
        margin-left: 5rem;
    }
}