.footer{
    
   
    background-color: rgb(32, 31, 28);
    
    height:  50px;
    padding: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 100%;
  }